@attribute [Route(FrontendRoutes.Home)]

<PageTitle>Home</PageTitle>

<RadzenCard>
    <h1>Welcome to Carbon Kitchen!</h1>
    <p>Use navigation to go through the entities and perform simple CRUD operations</p>
</RadzenCard>